# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados
__pycache__/
*.pyc
*.pyo

# Archivos de entorno (contraseñas, tokens)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log